@charset "utf-8";

html * {
    outline:0;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0)
}
/* 在webkit下面的 默认最小的font-size是12 ，我们需要小于12px的字体大小 */
html,body {
    font-family:sans-serif;
    width: 100%;
    height: 100%;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,menu,nav,section {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
li{list-style: none}
b{
    font-weight: normal;
}
textarea{resize: none}
input,select,textarea {
    font-size:100%;
    border: none;
    outline: none;
}
button{
    border: none;
    outline: none;
}
i{
    font-style: normal;
}
img{cursor: pointer}
table {
    border-collapse:collapse;
    border-spacing:0
}
fieldset,img {
    border:0
}
abbr,acronym {
    border:0;
    font-variant:normal
}
del {
    text-decoration:line-through
}
address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500
}
ol,ul {
    list-style:none
}
caption,th {
    text-align:left
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500
}
q:before,q:after {
    content:''
}
a{
    text-decoration: none;
}
.clearfix:after{
    content: ""; display: block; font-size: 0; height: 0; visibility: hidden; clear: both; overflow: hidden;
}
























